In [105]:
import pandas as pd

### Genarate Date Series for Complete year only for Business Date Frequency

In [186]:
dr = pd.date_range(start='01/01/2020',end='02/28/2021',freq='B')
dr

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
               '2021-02-19', '2021-02-22', '2021-02-23', '2021-02-24',
               '2021-02-25', '2021-02-26'],
              dtype='datetime64[ns]', length=303, freq='B')

In [187]:
df = pd.Series(range(len(dr)),index = dr)
df = pd.DataFrame({'Date':df.index, 'BD':df.values})

### Add Attributes into DataFrame

In [188]:
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df['Quarter'] = df['Date'].dt.quarter
df['BD per Month'] = df.groupby(['Month','Year']).cumcount()+1
df['Quarter Name'] =df['Year'].astype(str) +'Q' + df['Quarter'].astype(str)

### Filter BD 13 Days for Each Month

In [189]:
filt = df['BD per Month'] == 13
df = df.loc[filt]
df

          Date   BD  Month  Year  Quarter  BD per Month Quarter Name
12  2020-01-17   12      1  2020        1            13       2020Q1
35  2020-02-19   35      2  2020        1            13       2020Q1
55  2020-03-18   55      3  2020        1            13       2020Q1
77  2020-04-17   77      4  2020        2            13       2020Q2
99  2020-05-19   99      5  2020        2            13       2020Q2
120 2020-06-17  120      6  2020        2            13       2020Q2
142 2020-07-17  142      7  2020        3            13       2020Q3
165 2020-08-19  165      8  2020        3            13       2020Q3
186 2020-09-17  186      9  2020        3            13       2020Q3
208 2020-10-19  208     10  2020        4            13       2020Q4
230 2020-11-18  230     11  2020        4            13       2020Q4
251 2020-12-17  251     12  2020        4            13       2020Q4
274 2021-01-19  274      1  2021        1            13       2021Q1
295 2021-02-17  295      2  2021        1            13       2021Q1

### Genearte Start Date for Each Quarter i.e. BD 13 + 1 Days

In [190]:
df['Date Next to BD13'] = df['Date'] + pd.DateOffset(days=1)
df

,Date,BD,Month,Year,Quarter,BD per Month,Quarter Name,Date Next to BD13
12,2020-01-17,12,1,2020,1,13,2020Q1,2020-01-18
35,2020-02-19,35,2,2020,1,13,2020Q1,2020-02-20
55,2020-03-18,55,3,2020,1,13,2020Q1,2020-03-19
77,2020-04-17,77,4,2020,2,13,2020Q2,2020-04-18
99,2020-05-19,99,5,2020,2,13,2020Q2,2020-05-20
120,2020-06-17,120,6,2020,2,13,2020Q2,2020-06-18
142,2020-07-17,142,7,2020,3,13,2020Q3,2020-07-18
165,2020-08-19,165,8,2020,3,13,2020Q3,2020-08-20
186,2020-09-17,186,9,2020,3,13,2020Q3,2020-09-18
208,2020-10-19,208,10,2020,4,13,2020Q4,2020-10-20
230,2020-11-18,230,11,2020,4,13,2020Q4,2020-11-19
251,2020-12-17,251,12,2020,4,13,2020Q4,2020-12-18
274,2021-01-19,274,1,2021,1,13,2021Q1,2021-01-20
295,2021-02-17,295,2,2021,1,13,2021Q1,2021-02-18

### Derive Quarter End Date as per BD 13

In [191]:
df['Quarter BD 13 End'] = df['Date'].shift(-3)
df

,Date,BD,Month,Year,Quarter,BD per Month,Quarter Name,Date Next to BD13,Quarter BD 13 End
12,2020-01-17,12,1,2020,1,13,2020Q1,2020-01-18,2020-04-17
35,2020-02-19,35,2,2020,1,13,2020Q1,2020-02-20,2020-05-19
55,2020-03-18,55,3,2020,1,13,2020Q1,2020-03-19,2020-06-17
77,2020-04-17,77,4,2020,2,13,2020Q2,2020-04-18,2020-07-17
99,2020-05-19,99,5,2020,2,13,2020Q2,2020-05-20,2020-08-19
120,2020-06-17,120,6,2020,2,13,2020Q2,2020-06-18,2020-09-17
142,2020-07-17,142,7,2020,3,13,2020Q3,2020-07-18,2020-10-19
165,2020-08-19,165,8,2020,3,13,2020Q3,2020-08-20,2020-11-18
186,2020-09-17,186,9,2020,3,13,2020Q3,2020-09-18,2020-12-17
208,2020-10-19,208,10,2020,4,13,2020Q4,2020-10-20,2021-01-19
230,2020-11-18,230,11,2020,4,13,2020Q4,2020-11-19,2021-02-17
251,2020-12-17,251,12,2020,4,13,2020Q4,2020-12-18,NaT
274,2021-01-19,274,1,2021,1,13,2021Q1,2021-01-20,NaT
295,2021-02-17,295,2,2021,1,13,2021Q1,2021-02-18,NaT

### Logic to pick Quarter start and End Date for each BD 13 cycle

In [192]:
df['Month Each Quarter'] = df.groupby(['Quarter']).cumcount()+1
filt = df['Month Each Quarter'] == 1
df= df.loc[filt]

### Select Right columns that are required as per requirement

In [193]:
df = df[['Date Next to BD13','Quarter BD 13 End','Quarter Name']]
df

    Date Next to BD13 Quarter BD 13 End Quarter Name
12         2020-01-18        2020-04-17       2020Q1
77         2020-04-18        2020-07-17       2020Q2
142        2020-07-18        2020-10-19       2020Q3
208        2020-10-20        2021-01-19       2020Q4

### Reset Index and Rename Columns

In [194]:
df.set_index('Quarter Name', inplace=True)

In [197]:
df.rename(columns = {'Date Next to BD13': 'Quarter Start Date', 'Quarter BD 13 End':'Quarter End Date'}, inplace = True)

In [198]:
df

             Quarter Start Date Quarter End Date
Quarter Name
2020Q1               2020-01-18       2020-04-17
2020Q2               2020-04-18       2020-07-17
2020Q3               2020-07-18       2020-10-19
2020Q4               2020-10-20       2021-01-19

### Store Result into CSV

In [199]:
df.to_csv("BD_Calender")